<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/munisaazimkhodjaeva/JenkinsRun/src/test/java/Facade_And_Singleton/TC1.java"><classes><class name="Facade_And_Singleton.TC1"><methods><include name="runTests"/></methods></class></classes></test></suite>